* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 13, 15);
}

.background {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1000;
}
